<%= form_for @post do |f| %>
  <p>Title</p>
  <p><%= f.text_field :title %></p>
  <p>Content</p>
  <p><%= f.text_area :content, style: 'width: 500px; height: 200px;' %></p>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit 'Save' %>
<% end %>
